#communityGetStartedTitle {
    width: 200px;
    height: 100px;
    color: black;
    font-family: 'Geist', sans-serif;
    font-size: 43px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 430px;
    white-space: nowrap;
}

#communityGetStartedText {
    font-family: 'Geist', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: rgb(99, 99, 99);
    width: 800px;
    margin-left: 190px;
    text-align: center;
    white-space: nowrap;
    margin-left: 225px;
    margin-bottom: 30px;
}

#getStartedFlex {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 150px;
}