#feature {
    width: 300px;
    height: 300px;
    background-color: rgb(212, 212, 255);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

#feature:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

#featureImage {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

#featureTitle {
    color: rgb(44, 44, 44);
    width: 70px;
    height: 30px;
    font-family: 'Geist', sans-serif;
    font-size: 22px;
    font-weight: 550;
    white-space: nowrap;
    margin-left: 35px;
    margin-top: 90px;
}

#featureText {
    color: rgb(90, 90, 90);
    width: 200px;
    height: 120px;
    font-family: 'Geist', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
}