#freeAccount {
    margin-top: 50px;
    background-color: #2F35C2;
    height: 320px;
    width: 100%;
    padding-top: 30px;
    margin-top: 100px;
}

#freeAccountTitle {
    width: 200px;
    height: 100px;
    color: white;
    font-family: 'Geist', sans-serif;
    font-size: 43px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 400px;
    white-space: nowrap;
}

#freeAccountText {
    font-family: 'Geist', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: white;
    width: 800px;
    margin-left: 190px;
    text-align: center;
    white-space: nowrap;
    margin-left: 225px;
    margin-top: -20px;
}

#freeAccountButton {
    background-color: lightgreen;
    color: white;
    width: 300px;
    height: 60px;
    border-radius: 40px;
    font-family: 'Geist', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 500px;
    margin-top: 30px;

}

#freeAccountButton:hover {
    opacity: 0.9;
}