@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
    background-color: rgb(230, 230, 230);
}

.c0 {
    display: flex;
    flex-direction: row;
    background-color: #e4e4ef;
    height: 800px;
    margin-bottom: -20px;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.C02 {
    display: flex;
    flex-direction: column;
}

.c1 {
    background-color: lightgreen;
    color: black;
    width: 270px;
    height: 45px;
    margin-top: 150px;
    margin-left: 25px;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Geist', sans-serif;
    font-size: 500;
}


.c2 {
    width: 650px;
    height: 100px;
    color: black;
    font-family: 'Geist', sans-serif;
    font-size: 55px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 25px;
}


.c3 {
    font-family: 'Geist', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(90, 90, 90);
    width: 600px;
    margin-left: 25px;
    margin-top: 90px;
}

.c4 {
    display: flex;
    margin-top: 40px;
    margin-left: 25px;
    gap: 25px;
}

.c5 {
    background-color: #2F35C2;
    color: white;
    width: 250px;
    height: 60px;
    border-radius: 40px;
    font-family: 'Geist', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.c5:hover {
    background-color: #4d52f9;
}

.c6 {
    background-color: aliceblue;
    border-color: darkgray;
    color: black;
    width: 250px;
    height: 60px;
    border-radius: 40px;
    font-family: 'Geist', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.c6:hover {
    background-color: lightgreen;
}

.c7 {}