#NormalOrTrisomy {
    height: 1030px;
    background-color: rgb(236, 246, 251);
    margin-top: -72px;
    padding-top: 100px;
}

#chooseTitleNormalOrTrisomy {
    font-family: 'Geist', sans-serif;
    font-size: 50px;
    font-weight: 550;
    margin-top: 120px;
    margin-left: 60px;
    width: 1000px;
    color: rgb(32, 33, 33);
    text-align: center;
    white-space: nowrap;
}

#chooseTextNormalOrTrisomy {
    font-family: 'Geist', sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 350px;
    color: rgb(90, 90, 90);
}

.chooseFlex {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 40PX;
    margin-left: 225px;
}

.settingsChooseText {
    font-family: 'Geist', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(90, 90, 90);
    margin-top: 60px;
    margin-left: 400px;
}

#skipNormalOrTrisomy {
    font-family: 'Geist', sans-serif;
    font-size: 17px;
    font-weight: 500;
    height: 10px;
    margin-top: 30px;
    margin-left: 600px;
    color: rgb(19, 154, 199);
    top: 20px;
    position: relative;
    cursor: pointer;
}

#skipNormalOrTrisomy:hover {
    color: rgb(80, 159, 186);
}

.choosePartNormalOrTrisomy:hover {
    box-shadow: 10px rgba(0, 0, 0, 0.7);
    transition: boxshadow ease;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.choosePartNormalOrTrisomy {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-left: 35px;
    border: 3px solid rgb(145, 210, 223);
    background-color: rgb(226, 242, 252);
    transition: opacity 3s ease, filter 3s ease;
}

.choosePartNormalOrTrisomy.clicked {
    opacity: 0.9;
    filter: blur(2px);
    border: 3px solid rgb(0, 179, 255);
    transform: translateY(-3px) scale(1.05);
    overflow: hidden;
}

.choosePartImage {
    width: 150px;
    height: 150px;
    margin-top: 50PX;
    margin-left: 90PX;
    border-radius: 20px;
    background-size: contain;
}

#choosePartTitleNormalOrTrisomy1 {
    font-family: 'Geist', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(44, 44, 44);
    margin-top: 15px;
    margin-left: 30PX;
    white-space: nowrap;
}

#choosePartTextNormalOrTrisomy1 {
    color: rgb(90, 90, 90);
    font-family: 'Geist', sans-serif;
    font-size: 19px;
    font-weight: 400;
    width: 350px;
    margin-left: 0px;
    margin-top: 10PX;
    text-align: center;
}

#choosePartTitleNormalOrTrisomy2 {
    font-family: 'Geist', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(44, 44, 44);
    margin-top: 15px;
    margin-left: 10PX;
    white-space: nowrap;
}

#choosePartTextNormalOrTrisomy2 {
    color: rgb(90, 90, 90);
    font-family: 'Geist', sans-serif;
    font-size: 19px;
    font-weight: 400;
    width: 350px;
    margin-left: 0px;
    margin-top: 10PX;
    text-align: center;
}

.choosePartLinkNormalOrTrisomy {
    font-family: 'Geist', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 110px;
    margin-top: 50px;
    color: rgb(19, 154, 199);
}


.choosePartNormalOrTrisomy {
    position: relative;
}

.choosePartNormalOrTrisomy:active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid rgb(19, 154, 199);
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    pointer-events: none;
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}